@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
.animate-fadeInUp {
animation: fadeInUp 0.4s ease-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(12px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
}